/* All variables to be declared in the root (--varuable name)*/
/* The color palet is the first i.e  declare all the colors in the project ...*/
/* using 62.5% make 10px equal 1rem */
html {
  font-size: 62.5%;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

/* For Large screen */

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* LINKS */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

/* the after here means things item that has the class */
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* Badges */

.badges {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap; /* this is to ensure everything is 1 line*/
}
.badges-primary {
  background: var(--color-primary);
  color: #fff;
}
.badges-secondary {
  background: var(--color-secondary);
  color: #fff;
}
.badges--small {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .badges {
    font-size: 1.6rem;
  }
  .badges--small {
    font-size: 1.2rem;
  }
}
