<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      accusantium. Laboriosam perspiciatis nostrum repellat cum?
    </p>
  </header>
  <div style="width: 100%; padding: 4rem">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
        </header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          facere doloremque, dicta expedita error nam suscipit excepturi
          blanditiis amet praesentium.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block__dark block__skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      accusantium. Laboriosam perspiciatis nostrum repellat cum?
    </p>
  </div>
</section>
