<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>

    <svg class="icon icon--secondary collapsible__chevron">
      <use xlink:href="images/sprite.svg#easy"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A dicta aspernatur
    voluptate dolor quia! Quae unde qui cumque earum tempore!
  </div>
</div>

<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>

    <svg class="icon icon--secondary collapsible__chevron">
      <use xlink:href="images/sprite.svg#easy"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A dicta aspernatur
    voluptate dolor quia! Quae unde qui cumque earum tempore!
  </div>
</div>
